/*  
  Font-size System (px):
  10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

  Spacing system (px):
  2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

  Fonts: 
  font-family: 'Righteous', cursive;
  font-family: 'Sarala', sans-serif;
*/

:root {
  --linear-gradient: linear-gradient(68.15deg, #2f2325, #8e5d52);

  --container-size: 130rem;

  /* Spacing sizes */
  --size-16: 1.6rem;
  --size-24: 2.4rem;
  --size-32: 3.2rem;
  --size-48: 4.8rem;
  --size-96: 9.6rem;

  /* Font-size */
  --fs-16: 1.6rem;
  --fs-18: 1.8rem;
  --fs-20: 2rem;

  --primary-dark-color: #1c1310;
  --primary-medium-color: #8e5d52;
  --primary-light-color: #ecd6c4;

  --hover: #0e0908;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* 10px / 16px = 0.625 = 62.5%. Percentage of user's browsers font-size setting */
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Sarala", sans-serif;
  font-weight: 400;
  line-height: 1;
  overflow-x: hidden;
}

/* **************** HELPER CLASSES **************** */
.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid--center-v {
  align-items: center;
}

.grid--center-h {
  justify-content: center;
}

/* margins and paddings */
.mr-16 {
  margin-right: 1.6rem !important;
}

/* ================ REUSABLE COMPONENTS ==============*/
.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-family: "Righteous", cursive;
}

.heading-primary {
  font-size: 7.4rem;
  margin-bottom: var(--size-32);
  letter-spacing: 3px;
  color: #fff;
}

.heading-secondary {
  font-size: 3.6rem;
  line-height: 1.2;
  color: #2b1c19;
  margin-bottom: 9.6rem;
}

.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
}

.text-center {
  text-align: center;
}

.btn:link,
.btn:visited {
  display: inline-block;
  color: #fff;

  font-size: var(--fs-18);
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 20px;
  text-decoration: none;

  transition: all 0.3s ease-in;
}

.btn--full:link,
.btn--full:visited {
  background-color: var(--primary-dark-color);
}

.btn--full:hover,
.btn--full:active {
  background-color: var(--hover);
}

.btn--outline:link,
.btn--outline:visited {
  background-color: var(--primary-light-color);
  color: var(--hover);
}

.btn--outline:hover,
.btn--outline:active {
  background-color: var(--primary-light-color);

  /* trick to add border inside */
  box-shadow: inset 0 0 0 3px var(--primary-medium-color);
}
